.contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

li {
    list-style: none;
}